---
import AppLayout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import data from "@data/contributions.json";
import ProjectCard from "@components/ProjectCard.astro";

interface Project {
  name: string;
  description: string;
  stars: number;
  role: "author" | "contributor" | "maintainer";
  url: string;
  languages: string[];
  website?: string;
}

const openSourceContributions = data as Project[];

openSourceContributions.sort((a, b) => {
  if (a.role === "maintainer" && b.role !== "maintainer") {
    return -1;
  }
  if (a.role === "maintainer" && b.role === "maintainer") {
    return a.stars > b.stars ? -1 : 1;
  }
  if (a.role === "author" && b.role === "author") {
    return a.stars > b.stars ? -1 : 1;
  }
  if (a.role === "author" && b.role !== "author") {
    return -1;
  }
  return 0;
});

const description =
    "A collection of backend-focused projects showcasing my skills in API design, data management, " +
    "and system integration. Built with the languages and frameworks I use, alongside Docker, " +
    "following clean architecture and best practices.";
---

<AppLayout
  title="Marco Amedura - Projects"
  tags={[
    "projects",
    "open source",
    "contributions",
    "github",
    "marco amedura",
    "marco",
    "amedura",
    "marcoamedura",
    "italia",
    "developer",
    "software engineer",
    "software developer",
    "software engineering",
    "software development",
    "web developer",
    "web development",
    "full stack",
    "full stack developer",
  ]}
  description={description}
>
  <Header title="Open Source" />
  <p
    class="max-w-prose mb-10 font-normal dark:text-neutral-400 text-neutral-600 leading-relaxed"
  >
    {description}
  </p>
  <ul class="grid grid-cols-1 gap-8">
    {
      openSourceContributions.map((project) => (
        <ProjectCard
          name={project.name}
          description={project.description}
          stars={project.stars}
          role={project.role}
          url={project.url}
          languages={project.languages}
          website={project.website || ""}
        />
      ))
    }
  </ul>
</AppLayout>
